@import "../../styles/screen_brakpoints.module";

.line {
  display: flex;
  justify-content: center;
  div {
    width: 5px;
    margin: 10px;
    height: 100px;
    background-color: var(--highlight-color);
  }
}

@media ($xl-screen) {
  .line {
    div {
      transform: rotate(0);
      height: 5px;
    }
  }
}
