@import "../../../../assets/scss/screen_brakpoints.module";

.summary {
  width: 100%;
  position: relative;
  &__title {
    font-size: 1.3rem;
    margin-top: 0 !important;
    text-align: center;
  }
  &__hello-large,
  &__hello-small {
    font-family: "Press Start 2P", cursive;
    margin: auto;
    text-align: center;
    overflow: hidden;
    line-height: 2;
  }
  &__hello-small {
    span {
      display: inline-block;
      overflow: hidden;
    }
    span:nth-child(1) {
      width: 0;
      animation: typewriter-small-1 2s steps(5) 1s 1 normal both,
        blinkTextCursor 500ms steps(5) 5 normal;
      animation-fill-mode: forwards;
    }
    span:nth-child(2) {
      width: 0;
      animation: typewriter-small-2 2s steps(5) 1s 1 normal both,
        blinkTextCursor 500ms steps(5) 5 normal;
      animation-fill-mode: forwards;
      animation-delay: 3s;
    }
    span:nth-child(3) {
      width: 0;
      animation: typewriter-small-3 1.5s steps(3) 1s 1 normal both,
        blinkTextCursor 500ms steps(5) infinite normal;
      animation-fill-mode: forwards;
      animation-delay: 5s;
    }
  }
  &__hello-large {
    width: 23rem;
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    animation: typewriter 4s steps(13) 1s 1 normal both,
      blinkTextCursor 500ms steps(13) infinite normal;
  }
  p {
    margin-top: 30px;
    color: var(--sec-text-color);
  }
  &__hello {
    margin-top: 30px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  &__hello-small {
    display: block;
  }
  &__hello-large {
    display: none;
  }
  @keyframes typewriter {
    from {
      width: 0;
    }
    to {
      width: 23rem;
    }
  }
  @keyframes typewriter-small-1 {
    from {
      width: 0;
      border-right: 2px solid rgba(255, 255, 255, 0.75);
    }
    to {
      width: 9rem;
    }
  }
  @keyframes typewriter-small-2 {
    from {
      width: 0;
      border-right: 2px solid rgba(255, 255, 255, 0.75);
    }
    to {
      width: 9rem;
    }
  }
  @keyframes typewriter-small-3 {
    from {
      width: 0;
      border-right: 2px solid rgba(255, 255, 255, 0.75);
    }
    to {
      width: 5rem;
      border-right: 2px solid rgba(255, 255, 255, 0.75);
    }
  }
  @keyframes blinkTextCursor {
    from {
      border-right-color: rgba(255, 255, 255, 0.75);
    }
    to {
      border-right-color: transparent;
    }
  }
}
@media ($sm-screen) {
  .summary {
    h1 {
      white-space: nowrap;
    }
    &__hello-small {
      display: none;
    }
    &__hello-large {
      display: block;
    }
  }
}
@media ($xl-screen) {
  .summary {
    width: 45%;
    p {
      margin-top: 0;
    }
    &__hello {
      margin-top: 0;
    }
  }
}
@media ($xxl-screen) {
  .summary {
    width: 40%;
  }
}
