@import "../../styles/colors.module";
@import "../../styles/screen_brakpoints.module";
@import "../../styles/themes.module";

.hero {
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  &__text {
    order: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    code {
      margin-top: 5px;
      margin-bottom: 5px;
      font-size: 1rem;
    }
  }
  &__body {
    margin-left: 20px;
  }
  &__h1,
  &__p {
    margin-left: 40px;
  }
  &__title,
  &__subtitle {
    margin-left: 50px;
  }
  &__title {
    font-size: 4rem;
  }
  &__subtitle {
    font-size: 1.5rem;
  }
  &__shape {
    order: 1;
    position: relative;
    margin: 1rem 0;
    min-height: 75vh;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__skill {
    border-radius: 50% 50%;
    width: 100px;
    img {
      max-width: 100%;
      padding: 10px;
    }
    position: absolute;
    animation: skillOrbit 50s linear infinite;
  }
  .angular {
    top: -10%;
  }
  .react {
    bottom: -10%;
  }
  &__circle {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 400px;
    min-height: 400px;
    border: 5px solid;
    border-radius: 50% 50%;
    position: absolute;
    animation: myOrbit 50s linear infinite;
  }
  &__profile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    img {
      max-width: 90%;
      padding: 5px;
      border: 1px solid transparent;
      border-radius: 50% 50%;
    }
  }

  @media ($dark-theme) {
    &__name {
      color: $dark-blue-color;
    }
    &__title,
    &__subtitle {
      color: white;
    }
    code {
      color: $grey-color;
    }
    &__circle {
      border-color: white;
    }
    &__skill {
      border: 1px solid $shadow-color;
      box-shadow: 0px 0px 10px 20px $shadow-color;
      background-color: $dark-background;
    }
  }
  @media ($light-theme) {
    &__name {
      color: $light-blue-color;
    }
    &__title,
    &__subtitle {
      color: black;
    }
    code {
      color: $grey-light-color;
    }
    &__circle {
      border-color: $line-color;
    }
    &__skill {
      border: 1px solid white;
      box-shadow: 0px 0px 10px 20px white;
      background-color: white;
    }
  }
  @keyframes skillOrbit {
    100% {
      transform: rotate(-360deg);
    }
  }
  @keyframes myOrbit {
    100% {
      transform: rotate(360deg);
    }
  }
}
@media ($md-screen) {
  .hero {
    flex-direction: row;
    &__text {
      width: 50%;
      order: 1;
    }
    &__shape {
      width: 50%;
      order: 2;
      min-height: 100%;
    }
    &__circle {
      min-width: 350px;
      min-height: 350px;
    }
    &__skill {
      width: 80px;
    }
  }
}
@media ($xl-screen) {
  .hero {
    &__shape {
      min-height: 100%;
    }
    &__circle {
      min-width: 470px;
      min-height: 470px;
    }
    &__skill {
      width: 100px;
    }
    &__profile {
      width: 300px;
      height: 300px;
    }
  }
}
