@import "../../styles/screen_brakpoints.module";

.info-card {
  display: flex;
  color: var(--sec-text-color);
  margin-bottom: 20px;
  span {
    color: white;
  }
  &__icon {
    color: white;
    margin-right: 10px;
  }
  &__text {
    flex-grow: 1;
    white-space: pre-line;
  }
  a {
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--sec-text-color);
  }
}
.info-card:last-child {
  margin-bottom: 0;
}
