@import "../../../assets/scss/colors.module";

%circle {
  width: 10px;
  height: 10px;
  border: 1px solid transparent;
  border-radius: 50% 50%;
  margin: 0 5px;
}

.ide-container {
  background-color: var(--container-background);
  display: flex;
  flex-direction: column;
  border: 1px solid transparent;
  border-radius: 10px;
  color: white;
  &__header {
    padding: 10px;
    background-color: #1b1f23;
    display: flex;
    border: 1px solid transparent;
    border-radius: 10px 10px 0 0;
  }
  &__body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 30px;
  }
  .red-circle {
    @extend %circle;
    background-color: $red-color;
  }
  .green-circle {
    @extend %circle;
    background-color: $green-color;
  }
  .orange-circle {
    @extend %circle;
    background-color: $orange-color;
  }
}
