@import "../../../../assets/scss/colors.module";

.form-success {
  min-height: 500px;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &__success,
  &__fail {
    font-size: 8rem;
    margin-bottom: 50px;
  }
  &__fail {
    color: $red-color;
  }
  &__success {
    color: $green-color;
  }
  p {
    font-size: 1.5rem;
  }
}
