@import "../../../../assets/scss/screen_brakpoints.module";

.hero {
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  &__text {
    order: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    div {
      display: flex;
      flex-direction: column;
    }
    code {
      margin-top: 5px;
      margin-bottom: 5px;
      font-size: 1rem;
      color: var(--sec-text-color);
    }
  }
  &__body {
    margin-left: 20px;
  }
  &__h1,
  &__p {
    margin-left: 40px;
  }
  &__title,
  &__subtitle {
    margin-left: 50px;
    color: var(--main-text-color);
  }
  &__title {
    font-size: 3rem;
  }
  &__subtitle {
    font-size: 1.5rem;
  }
  &__shape {
    order: 1;
    position: relative;
    margin: 1rem 0;
    min-height: 50vh;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__skill {
    border-radius: 50% 50%;
    width: 60px;
    img {
      max-width: 100%;
      padding: 10px;
    }
    border: 1px solid var(--background);
    box-shadow: 0px 0px 10px 20px var(--background);
    background-color: var(--background);
    position: absolute;
    animation: skillOrbit 50s linear infinite;
  }
  .angular {
    bottom: 15%;
    right: -3%;
  }
  .react {
    bottom: 15%;
    left: -3%;
  }
  .js {
    top: -10%;
  }
  &__circle {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 270px;
    min-height: 270px;
    border: 5px solid;
    border-radius: 50% 50%;
    border-color: var(--line-color);
    position: absolute;
    animation: myOrbit 50s linear infinite;
  }
  &__profile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    z-index: 10;
    img {
      max-width: 90%;
      padding: 5px;
      border: 1px solid transparent;
      border-radius: 50% 50%;
    }
  }
  &__name {
    color: var(--highlight-color);
  }

  @keyframes skillOrbit {
    100% {
      transform: rotate(-360deg);
    }
  }
  @keyframes myOrbit {
    100% {
      transform: rotate(360deg);
    }
  }
}
@media ($sm-screen) {
  .hero {
    &__circle {
      min-width: 350px;
      min-height: 350px;
    }
    &__shape {
      min-height: 75vh;
    }
    &__skill {
      width: 70px;
    }
    &__profile {
      width: 300px;
      height: 300px;
    }
  }
}
@media ($md-screen) {
  .hero {
    flex-direction: row;
    &__text {
      width: 50%;
      order: 1;
    }
    &__shape {
      width: 50%;
      order: 2;
      min-height: 100%;
    }
    &__circle {
      min-width: 350px;
      min-height: 350px;
    }
    &__skill {
      width: 80px;
    }
  }
}
@media ($lg-screen) {
  .hero {
    &__title {
      font-size: 4rem;
    }
  }
}
@media ($xl-screen) {
  .hero {
    &__shape {
      min-height: 100%;
    }
    &__circle {
      min-width: 470px;
      min-height: 470px;
    }
    &__skill {
      width: 100px;
    }
    &__profile {
      width: 400px;
      height: 400px;
    }
    &__text {
      div {
        flex-direction: row;
      }
    }
  }
}
