@import "../../styles/screen_brakpoints.module";

.navbar {
  background-color: transparent;
  padding: 20px 0;

  &__container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
  }
  &__links {
    display: flex;
    list-style: none;
  }
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 10px;
    font-size: 1rem;
  }
  &__anchor {
    color: var(--sec-text-color);
    text-decoration: none;
  }
  &__download-btn {
    background-color: var(--highlight-color);
    padding: 15px 30px;
    border: 1px solid transparent;
    border-radius: 5px;
    color: white;
  }
  &__download-btn:hover {
    cursor: pointer;
  }
  &__download {
    margin-left: 20px;
  }
  &__logo {
    max-width: 50px;
  }
  &__anchor:hover,
  .active {
    color: var(--main-text-color);
  }
  .active:after {
    content: "";
    width: 40px;
    height: 3px;
    position: absolute;
    bottom: 10px;
    left: 20px;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: var(--highlight-color);
  }

  @media ($lg-screen) {
    .navbar__container {
      width: 80%;
    }
  }
}
