@import "../../styles/colors.module";
@import "../../styles/themes.module";
@import "../../styles/screen_brakpoints.module";

.navbar {
  background-color: transparent;
  padding: 20px 0;

  &__container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
  }
  &__links {
    display: flex;
    list-style: none;
  }
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 10px;
    font-size: 1rem;
  }
  &__anchor {
    color: $grey-color;
    text-decoration: none;
  }
  &__download-btn {
    padding: 15px 30px;
    border: 1px solid transparent;
    border-radius: 5px;
    color: white;
  }
  &__download-btn:hover {
    cursor: pointer;
  }
  &__download {
    margin-left: 20px;
  }
  &__logo {
    max-width: 50px;
  }
  .active:after {
    content: "";
    width: 40px;
    height: 3px;
    position: absolute;
    bottom: 10px;
    left: 20px;
    border: 1px solid transparent;
    border-radius: 10px;
  }

  @media ($dark-theme) {
    &__download-btn {
      background-color: $dark-blue-color;
    }
    &__link {
      .navbar__anchor:hover,
      .active {
        color: white;
      }
      .active:after {
        background-color: $dark-blue-color;
      }
    }
  }
  @media ($light-theme) {
    &__download-btn {
      background-color: $light-blue-color;
    }
    &__link {
      .navbar__anchor:hover,
      .active {
        color: black;
      }
      .active:after {
        background-color: $light-blue-color;
      }
    }
  }
  @media ($lg-screen) {
    .navbar__container {
      width: 80%;
    }
  }
}
