$theme: "";

html {
  --background: white;
  --main-text-color: black;
  --sec-text-color: #bbbbbe;
  --highlight-color: #2f89c9;
  --line-color: #21243a;
  --container-background: #24292f;
  $theme: "light";
}
html[data-theme="dark"] {
  --background: #26273b;
  --main-text-color: white;
  --sec-text-color: #94969b;
  --highlight-color: #3e7bfa;
  --line-color: white;
  --container-background: #171a1b;
  $theme: "dark";
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
}

body,
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--background);
}

#root {
  position: relative;
}
